<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    />
  </head>
  <body
    style="background-image: url('<%= imageUrl %>'); background-size: cover; background-position: center;">
    <div class="container">
      <div class="weather-app">
        <h1>Weather App</h1>
        <form action="/weather" method="get">
          <input
            type="text"
            name="city"
            class="input-city"
            placeholder="Enter City Name"
          />
          <button type="submit" class="btn">Get Weather</button>
        </form>

        <% if (error) { %>
        <p class="error"><%= error %></p>
        <% } else if (weather) { %>
        <div class="card">
          <h2>Weather in <%=weather.name%>, <%=weather.sys.country%></h2>
          <div class="weather-info">
            <p>
              <i class="fas fa-thermometer-half"></i>
              <span class="temp"><%=weather.main.temp%>&deg;F</span>
            </p>
            <p>
              <i class="fas fa-cloud"></i> <%=weather.weather[0].main%>
            </p>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
